<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7a79">  <td>19/02/24 08:38:23</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:com.framework.testcases.TC002_CreateLead@10736d9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/24 08:38:24</td>   <td>560</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:com.framework.testcases.TC002_CreateLead@10736d9]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/24 08:38:24</td>   <td>574</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:com.framework.testcases.TC002_CreateLead@10736d9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/24 08:38:25</td>   <td>1735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.TC002_CreateLead@10736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/24 08:39:09</td>   <td>45877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.framework.testcases.TC002_CreateLead@10736d9]">CreateLead</td> 
  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/24 08:39:46</td>   <td>83196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.TC002_CreateLead@10736d9]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/24 08:39:47</td>   <td>83900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.TC002_CreateLead@10736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/24 08:39:57</td>   <td>93809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.framework.testcases.TC002_CreateLead@10736d9]">CreateLead</td> 
  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/24 08:40:18</td>   <td>115195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.TC002_CreateLead@10736d9]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/24 08:40:21</td>   <td>117746</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:com.framework.testcases.TC002_CreateLead@10736d9]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
</table>
